[Desktop Action openvscodium]
Exec=codium %F
Icon=codium
Name=Open with VSCodium
Name[fr]=Ouvrir avec VSCodium
Name[ar]=الفتح بواسطة VSCodium
Name[nl]=Openen met VSCodium

[Desktop Entry]
Actions=openvscodium
MimeType=text/plain;inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
